@import url(@/app/globals.css);
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.popular {
    background-color: var(--yellow);
    color: var(--black);
}
.cofee {
    animation: fadeIn ease-in 500ms;
}
.cofee h3 {
    font-weight: 700;
    color: var(--white);
}
.price {
    color: var(--black);
    background-color: var(--lightGreen);
}
.available {
    color: var(--red);
}