@import url(@/app/globals.css);
.filter li {
    color: var(--white);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.filter li:hover, .filter li.active {
    background-color: var(--grey);
}
.gridCofee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 65px;
    max-width: 845px;
    margin: 0 auto;
    margin-top:40px;
}
@media (max-width:1024px) {
    .gridCofee {
        grid-template-columns: repeat(2, 1fr);
        max-width: 550px;
    }
}

@media (max-width:640px) {
    .gridCofee {
        grid-template-columns: repeat(1, 1fr);
        max-width: 260px ;
    }
}