@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkGrey: #1B1D1F;
  --black: #111315;
  --grey: #6F757C;
  --lightGreen: #BEE3CC;
  --white: #FEF7EE;
  --yellow: #F6C768;
  --red: #ED735D;
}

body {
  background: url(/images/bg-cafe.jpg) var(--black) no-repeat top center;
  background-size: 100%;
  color: var(--grey)
}

main {
  background: url(/images/vector.svg) no-repeat 65% 25px var(--darkGrey);
}

h2 {
  color: var(--white);
}